package ${package}.entity;

import com.hq.base.BaseEntity;

import java.io.Serializable;
import java.util.Date;

#if(${hasBigDecimal})
import java.math.BigDecimal;
#end


/**
 * ${comments}
 * 
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
public class ${className}Entity extends BaseEntity {
	private static final long serialVersionUID = 1L;
	
#foreach ($column in $columns)
	#if($column.attrname=="id"||
		$column.attrname=="orderNum"||
		$column.attrname=="createTime"||
		$column.attrname=="updateTime"||
		$column.attrname=="createUserId"||
		$column.attrname=="updateUserId"||
		$column.attrname=="isDelete"||
		$column.attrname=="isUse")
	#else
	//$column.comments
	private $column.attrType $column.attrname;
	#end
#end

#foreach ($column in $columns)
	#if($column.attrname=="id"||
		$column.attrname=="orderNum"||
		$column.attrname=="createTime"||
		$column.attrname=="updateTime"||
		$column.attrname=="createUserId"||
		$column.attrname=="updateUserId"||
		$column.attrname=="isDelete"||
		$column.attrname=="isUse")
	#else
	/**
	 * 设置：${column.comments}
	 */
	public void set${column.attrName}($column.attrType $column.attrname) {
		this.$column.attrname = $column.attrname;
	}
	/**
	 * 获取：${column.comments}
	 */
	public $column.attrType get${column.attrName}() {
		return $column.attrname;
	}
	#end
#end
}
