package ${package}.service;

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;

import com.hq.base.BaseServiceImpl;

import ${package}.dao.${className}Dao;
import ${package}.entity.${className}Entity;

/**
 * ${comments}
 * 
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@Service("${classname}Service")
public class ${className}Service extends BaseServiceImpl<${className}Entity>{

    @Autowired
    private ${className}Dao ${classname}Dao;

}
